/* 
======================
Font imports
======================
*/
@font-face {
  font-family: "roboto";
  src: url("../Assets/FONTS/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../Assets/FONTS/Roboto-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "roboto";
  src: url("../Assets/FONTS/Roboto-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* 
=======================
Root styles and resets
=======================
*/
:root {
  /* Box sizing fix */
  box-sizing: border-box;

  /* Colors */
  --bg-color-body: #eee;
  --bg-color-header: #0072b0;
  --bg-color-main: #fff;
  --bg-color-buttons: #0090c9;
  --font-color-header: #f9eeee;

  /* Fonts */
  --main-font: roboto;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 1.25em;
  font-family: var(--main-font);
  background-color: var(--bg-color-body);
}

/* 
=================
Elements styling 
=================
*/
/* Lobotomized Owl selector */
body * + * {
  margin-top: 1.5em;
}

header {
  background-color: var(--bg-color-header);
  color: var(--font-color-header);
  border-radius: 0.5em;
  padding: 1em 1.5em;
}

.container {
  display: flex;
}
main {
  display: block;
  /* fixes IE bugs */
}
.main,
.sidebar {
  background-color: var(--bg-color-main);
  border-radius: 0.5em;
}
.main {
  width: 70%;
  padding: 1em 1.5em;
}

.sidebar {
  width: 30%;
  /* background-color: rgb(157, 188, 176); */
  padding: 1.5em;
  /* width: calc(30% - 1.5em); */
  margin-top: 0;
  margin-left: 1.5em;
}
/* sidbar links styling */

.button-link {
  display: block;
  padding: 0.5em;
  color: var(--bg-color-main);
  background-color: var(--bg-color-buttons);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.button-link + .button-link {
  margin-top: 1.5em;
}

.sps-link {
  display: block;
  color: var(--bg-color-header);
  text-decoration: none;
  font-weight: bold;
  /* looks a bit better to me */
  text-align: center;
}
