/*
======================
Font face imports 
======================
*/
@font-face {
  font-family: roboto;
  src: url(../Assets/FONTS/Roboto-Regular-webfont.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: url(../Assets/FONTS/Roboto-Italic-webfont.woff);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: url(../Assets/FONTS/Roboto-Bold-webfont.woff);
  font-weight: bold;
  font-style: normal;
}
/* 
======================
Global styles
======================
*/

:root {
  /* Global box sizing */
  box-sizing: border-box;

  /* Colors */
  --bg-color-body: #eee;
  --header-font-color: #fff;
  --header-bg-color: #0072b0;
  --main-bg-color: #fff;

  /* Fonts */
  --main-font: arial, helvetica, sans-serif;
}

/* Global border box fix */
*,
::before,
::after {
  box-sizing: inherit;
}

/* Lobotomized Owl global margins */
body * + * {
  margin-top: 1.5em;
}

body {
  /* font-size: 1.25em; */
  font-family: var(--main-font);
  background-color: var(--bg-color-body);
}

/* 
=====================
Page styling
=====================
*/

header {
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
  border-radius: 0.5em;
  color: var(--header-font-color);
  background-color: var(--header-bg-color);
}

.main {
  padding: 0 1.5em;
  background-color: var(--main-bg-color);
  border-radius: 0.5em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.media {
  float: left;
  width: calc(50% - 1.5em);
  margin: 0 1.5em 1.5em 0;
  padding: 1.5em;
  background-color: var(--bg-color-body);
  border-radius: 0.5em;
}

clear floats .clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
  clear: both;
}

.media:nth-child(odd) {
  clear: left;
}

.media-image {
  float: left;
  margin-right: 1.5em;
}

.media-body {
  margin-top: 0;
  overflow: auto;
}
.media-body h4 {
  margin-top: 0;
}
